<!-- [ Footer ] start -->

</div>
</div>
<footer class="footer">
    <div class="container">
        <hr>
        <ul class="list-inline pull-right">
            <li> Analisis Sentimen Masyarakat</li>
            <!-- <li><a href="https://www.facebook.com/fuadmuhtaz" target="_blank"><img src="img/facebook.png" class="sosmed"></a></li> -->
            <!-- <li><a href="https://github.com/fuadmuhtaz" target="_blank"><img src="img/github.png" class="sosmed"></a></li> -->
            <!-- <li><a href="https://twitter.com/fuadmuhtaz" target="_blank"><img src="img/twitter.png" class="sosmed"></a></li> -->
        </ul>
        <ul class="list-inline">
            <li>&copy; 2023</li>
            <li>Universitas Budi Luhur </li>
            <li> All Rights Reserved Mohammad Afif Hanafi </li>
        </ul>
    </div>
</footer>
</body>

</html>

<!-- [ Footer ] end -->