<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menupos-fixed menu-light ">
	<div class="navbar-wrapper  ">
		<div class="navbar-content scroll-div ">

			<ul class="nav pcoded-inner-navbar ">

				<li class="nav-item">
					<a href="{{ url_for('index') }}" class="nav-link "><span class="pcoded-micon"><i
								class="fa-solid fa-house"></i></span><span class="pcoded-mtext">Beranda</span></a>
				</li>
				<li class="nav-item pcoded-hasmenu" style="cursor:pointer;">
					<a class="nav-link"><span class="pcoded-micon"><i class="fa-solid fa-book"></i></span><span
							class="pcoded-mtext">Kamus Kata</span></a>
					<ul class="pcoded-submenu">
						<li><a href="{{ url_for('slangwordsRoute') }}">Daftar Kata <em>Slang</em></a></li>
						<li><a href="{{ url_for('stopwordsRoute') }}">Daftar Kata <em>Stop</em></a></li>
					</ul>
				<li class="nav-item pcoded-hasmenu" style="cursor:pointer;">
					<a class="nav-link"><span class="pcoded-micon"><i
								class="fa-sharp fa-solid fa-database"></i></span><span
							class="pcoded-mtext">Dataset</span></a>
					<ul class="pcoded-submenu">
						<li><a href="{{ url_for('DatasetBeforeKanjuruhan') }}">Sebelum Tragedi Kanjuruhan</a></li>
						<li><a href="{{ url_for('DatasetAfterKanjuruhan') }}">Sesudah Tragedi Kanjuruhan</a></li>
					</ul>
				</li>
				<li class="nav-item pcoded-hasmenu" style="cursor:pointer;">
					<a class="#" class="nav-link "><span class="pcoded-micon"><i
								class="fa-sharp fa-solid fa-wand-magic-sparkles"></i></span><span
							class="pcoded-mtext">Pelabelan</span></a>
					<ul class="pcoded-submenu">
						<li><a href="{{ url_for('labellingDatasetBefore') }}">Sebelum Tragedi Kanjuruhan</a></li>
						<li><a href="{{ url_for('labellingDatasetAfter') }}">Sesudah Tragedi Kanjuruhan</a></li>
					</ul>
				</li>
				<li class="nav-item pcoded-hasmenu" style="cursor:pointer;">
					<a href="#" class="nav-link "><span class="pcoded-micon"><i
								class="fa-sharp fa-solid fa-spinner"></i></span><span
							class="pcoded-mtext">Prapemrosesan</span></a>
					<ul class="pcoded-submenu">
						<li><a href="{{ url_for('preprocessingDatasetBefore') }}">Sebelum Tragedi Kanjuruhan</a></li>
						<li><a href="#">Sesudah Tragedi Kanjuruhan</a></li>
					</ul>
				</li>
				<li class="nav-item pcoded-hasmenu" style="cursor:pointer;">
					<a href="#" class="nav-link "><span class="pcoded-micon"><i
								class="fa-solid fa-wrench"></i></span><span class="pcoded-mtext">Pengujian</span></a>
					<ul class="pcoded-submenu">
						<li><a href="{{ url_for('testingDatasetBefore') }}">Sebelum Tragedi Kanjuruhan</a></li>
						<li><a href="#">Sesudah Tragedi Kanjuruhan</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- [ navigation menu ] end -->