<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menupos-fixed menu-light">
  <div class="navbar-wrapper">
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item">
          <a href="{{ url_for('index') }}" class="nav-link"
            ><span class="pcoded-micon"><i class="fa-solid fa-gauge"></i></span
            ><span class="pcoded-mtext">Beranda</span></a
          >
        </li>
        <li class="nav-item pcoded-hasmenu" style="cursor: pointer">
          <a class="nav-link"
            ><span class="pcoded-micon"
              ><i class="fa-solid fa-book-open"></i></span
            ><span class="pcoded-mtext">Kamus</span></a
          >
          <ul class="pcoded-submenu">
            <li>
              <a href="{{ url_for('slangwords') }}"
                >Daftar <em>Slangwords</em></a
              >
            </li>
            <li>
              <a href="{{ url_for('stopwords') }}">Daftar <em>Stopwords</em></a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('dataset') }}" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="fa-solid fa-table-columns"></i></span
            ><span class="pcoded-mtext">Dataset</span></a
          >
        </li>
        <li class="nav-item">
          <a href="{{ url_for('labelling') }}" class="nav-link"
            ><span class="pcoded-micon"><i class="fa-solid fa-tags"></i></span
            ><span class="pcoded-mtext">Pelabelan</span></a
          >
        </li>
        <li class="nav-item">
          <a href="{{ url_for('preprocessing') }}" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="fa-solid fa-screwdriver-wrench"></i></span
            ><span class="pcoded-mtext"><em>Preprocessing</em></span></a
          >
        </li>
        <li class="nav-item">
          <a href="{{ url_for('testing') }}" class="nav-link"
            ><span class="pcoded-micon"><i class="fa-solid fa-gear"></i></span
            ><span class="pcoded-mtext"></span
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- [ navigation menu ] end -->
