{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ Breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Beranda</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><i class="feather icon-home"></i></li>
                            <li class="breadcrumb-item">Beranda</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Breadcrumb ] end -->

        <!-- [ Judul ] start -->
        <div class="row">
            <!-- [ Judul Content ] start -->
            <div class="col-sm-12">
                <div class="card">

                    <div class="card-header text-center">
                        <h3>ANALISIS SENTIMEN MASYARAKAT PADA TWITTER TERHADAP PSSI PERBANDINGAN SEBELUM DAN SESUDAH
                            TRAGEDI KANJURUHAN
                            MENGGUNAKAN METODE MULTINOMIAL NAÏVE BAYES</h3>
                    </div>
                </div>
            </div>
            <!-- [ Judul Content ] end -->
        </div>
        <!-- [ Judul ] end -->

        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- order-card start -->

            <!-- Akurasi Tertinggi Sebelum Kejadian Kanjuruhan -->
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-purple order-card">
                    <div class="card-body">
                        <h6 class="text-white">Akurasi Tertinggi Sebelum Kejadian Kanjuruhan</h6>
                        <h2 class="text-start text-white"><span>86%</span></h2>
                    </div>
                </div>
            </div>

            <!-- Slangwords Sebelum Kejadian Kanjuruhan -->
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-blue order-card">
                    <div class="card-body">
                        <h6 class="text-white">Total Slangwords Sebelum Kejadian Kanjuruhan</h6>
                        <h2 class="text-start text-white"></i><span>{{ jumlahSlangwords }}</span>
                        </h2>
                    </div>
                </div>
            </div>

            <!-- Stopwords Sebelum Kejadian Kanjuruhan -->
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-yellow order-card">
                    <div class="card-body">
                        <h6 class="text-white">Total Stopwords Sebelum Kejadian Kanjuruhan</em></h6>
                        <h2 class="text-start text-white"><span>{{ jumlahStopwords }}</span></h2>
                    </div>
                </div>
            </div>

            <!-- Total Dataset -->
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-green order-card">
                    <div class="card-body">
                        <h6 class="text-white">Total Dataset Sebelum Kejadian Kanjuruhan</h6>
                        <h2 class="text-start text-white"><span>{{ jumlahDataset }}</span></h2>
                    </div>
                </div>
            </div>
            <!-- order-card end -->

            <!-- order-card start -->
            <!-- Akurasi Tertinggi Sebelum Kejadian Kanjuruhan -->
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-purple order-card">
                    <div class="card-body">
                        <h6 class="text-white">Akurasi Tertinggi Sesudah Kejadian Kanjuruhan</h6>
                        <h2 class="text-start text-white"><span>86%</span></h2>
                    </div>
                </div>
            </div>

            <!-- Slangwords Sebelum Kejadian Kanjuruhan -->
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-blue order-card">
                    <div class="card-body">
                        <h6 class="text-white">Total Slangwords Sesudah Kejadian Kanjuruhan</h6>
                        <h2 class="text-start text-white"></i><span>{{ jumlahSlangwords }}</span>
                        </h2>
                    </div>
                </div>
            </div>

            <!-- Stopwords Sebelum Kejadian Kanjuruhan -->
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-yellow order-card">
                    <div class="card-body">
                        <h6 class="text-white">Total Stopwords Sesudah Kejadian Kanjuruhan</em></h6>
                        <h2 class="text-start text-white"><span>{{ jumlahStopwords }}</span></h2>
                    </div>
                </div>
            </div>

            <!-- Total Dataset -->
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-green order-card">
                    <div class="card-body">
                        <h6 class="text-white">Total Dataset Sesudah Kejadian Kanjuruhan</h6>
                        <h2 class="text-start text-white"><span>{{ jumlahDataset }}</span></h2>
                    </div>
                </div>
            </div>
            <!-- order-card end -->

        </div>
        <!-- [ Main Content ] end -->

    </div>
</div>
<!-- [ Main Content ] end -->
{% endblock content %}